@keyframes wave {
  0%, 100% {
    transform: scaleY(1);
    transform-origin: bottom;
  }
  50% {
    transform: scaleY(0.8);
    transform-origin: bottom;
  }
}

@keyframes bump {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
}

.banner {
  //padding: 20px 0;
  position: relative;
  overflow: hidden;
  
  /* Text */
  color: white;
  font-family: 'Outfit', sans-serif;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  text-align: center;

  & h1 {
    font-family: 'Outfit', sans-serif;
    font-size: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    display: inline-table;
  }
  
  & img {
    margin-bottom: 10px;
    animation: bump 1s;
  }
}

.wave-text {
  --animation-duration: 1s;
  --animation-delay-step: 0.1s;
  display:flex;
  justify-content: center;
  flex-flow: column;
  gap:0.5rem;
  position: relative;
  flex-wrap: nowrap;
  
/*  @media (min-width: 1024px) {
  }*/

  span {
    display: inline-block;
    animation: wave var(--animation-duration) infinite;
    font-size: 90%;
  }

  @for $i from 1 through 30 {
    span:nth-child(#{$i}) {
      animation-delay: calc(var(--animation-delay-step) * ($i - 1));
    }
  }
}

.prjbanner {
  @extend .banner;
  background-color: transparent;
}

/*Background*/
.banner::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url('/assets/img/background.png');
  background-position: center 70%;
  background-size: cover;
  filter: blur(2px);
  z-index: -1;
}

@media (max-width: 600px) {
  .banner h1 {
    font-size: 80px;
  }
}