.defaultTheme {
    background: #000f;
    font-family: 'Courier New', monospace;
}

.textIcons {
  transform: translateY(5px);
}

.container {
  max-width: 70%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 15px;
  
}

.fadeout {
    display: flex;
    height: 50vh;
    transform: scaleY(-1);
    overflow: hidden;
    background-image: url("/assets/img/halftone3.png");
    
}

.projContainer{
  @extend .container;
  
  & h1 {
    font-family: 'Courier New', monospace;
    font-size: 50px;
    margin: 10px;
    color: white;
    align-items: center;
    align-content: center;
    text-align: center;
  }
}

@media (max-width: 600px) {
  .container {
    max-width: 90%;
  }
}