.defaultTheme {
  background-color: #2d2d2d;
}

.codeTheme {
  background-color: #0298ef;
  overflow: hidden;
}

.musicTheme {
  background-color: #ef8802;
  overflow: hidden;
}

.artTheme {
  background-color: #7102ef;
  overflow: hidden;
}

.textIcons {
  transform: translateY(5px);
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 15px;
}

.projContainer{
  @extend .container;
  max-width: 1200px;
}