//projectBars
.projBg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  background-image: url('/assets/img/background_tile.png');
}

.projUnderline {
  background-color: #282828;
  padding: 5px 0;
}

.projBar {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

//image wrapper
.image-wrapper {
  position: relative;
  width: 350px;
  aspect-ratio: 18 / 13;
  
  overflow: hidden;
  border-radius: 10px;
  margin: 5px;

  img {
    width: 100%;
    cursor: pointer;
    object-fit: cover;
    transition: filter 0.3s;
  }

  .static-image {
    z-index: 1;
  }

  .gif-image {
    z-index: 2;
    transform: translateY(100%);
    position: absolute;
    left: 0;
    top: 0;
  }
  
  &:hover .gif-image {
    transform: translateY(0%) scale(1.1);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    filter: brightness(80%);
  }
}

//scroll button
#topOfPage {
  bottom: 0;
}

.scrollButton {
  vertical-align: bottom;
  text-align: center;
  position: fixed;
  float: right;
  bottom: 0;
  margin: 10px;
  background-color: #0C0C0CFF;
  border-radius: 10px;
  width: 60px;
  height: 60px;
  transition: opacity 0.3s ease;

  & iconify-icon {
    transform: translateY(5px);
  }
}
