/******************/
/* PROJECT BARS    */
/******************/

.projBg {
  background-color: #282828;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  background-image: url('/assets/img/background_tile.png');
}

.projUnderline {
  background-color: #282828;
  padding: 5px 0;
}

.projList {
  justify-content: center;
  align-items: center;
}

/******************/
/* PROJECT ITEMS   */
/******************/
.projItem {
  width: 60%;
  padding: 15px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: rgba(30, 30, 30, 0.8); /* Adjust transparency here */
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  margin: 0 auto 20px auto;

  & .static-image {
    position: absolute;
    left: 0;
    z-index: 1;
  }

  & .gif-image {
    transform: translateY(100%);
    transition: transform 0.3s ease, opacity 0.3s ease;
    position: absolute;
    opacity: 0;
    left: 0;
    z-index: 2;
  }
  
  &:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
    transform: scale(1.02);
    
    .gif-image {
      transform: translateY(0);
      opacity: 1;
      transition: transform 0.3s ease, opacity 0.3s ease;
    }
  }
}

.image-wrapper {
  position: relative;
  width: 350px;
  height: auto;
  aspect-ratio: 18 / 13;
  overflow: hidden;
  border-radius: 30px;
  margin: 5px;

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.projDetails {
  flex: 1;
  padding-right: 20px;
  
  & h2 {
    margin: 8px 0;
    color: #ffffff;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8); /* Adding text shadow */
  }
  
  & p {
    margin: 5px 0;
    color: #c7c7c7;
  }
  
  & .details-link {
    color: #0298ef;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
    display: inline-block;
    margin-top: 10px;
  }
  
  & .details-link:hover {
    color: #ffffff;
  }
}

/******************/
/* SCROLL BUTTON   */
/******************/

.scrollButton {
  vertical-align: bottom;
  text-align: center;
  position: fixed;
  float: right;
  bottom: 0;
  left: 0;
  margin: 10px;
  background-color: #0C0C0CFF;
  border-radius: 10px;
  width: 60px;
  height: 60px;
  transition: opacity 0.3s ease;
  z-index: 9999;
  
  & iconify-icon {
    transform: translateY(5px);
  }
}

/******************/
/* MUSIC STUFF     */
/******************/
.musicContainer {
}


.spotifyAlbum {
  display: flex;
  align-items: center;
  
}

.musicFile {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  &  audio {
    margin-top: 5px;
  }
}

.albumContainer {
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
  
  & iframe {
    aspect-ratio: 18 / 13;
    position: relative;
    width: 20%;
    height: auto;
    margin: 5px;
  }
}

.musicFilesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
