.image-container img {
  width: 900px;
  height: 650px;
  object-fit: cover;
}

.image-container {
  margin-bottom: 20px;
}

.image-container img {
  width: 100%;
  height: auto;
  cursor: pointer;
  border-radius: 10px;
  transition: filter 0.3s;
}

.image-container img:hover {
  filter: brightness(80%);
}

#topOfPage {
  bottom: 0;
}

.scollButton{
  text-align: center;
  position: fixed;
  float:right;
  bottom: 0;
  margin: 10px;
  background-color: #0C0C0CFF;
  border-radius: 10px;
  width: 60px;
  height: 60px;
}
