.grid-container {
  display: flex;
  height: 100vh; /* Full viewport height */
  font-family: Questrial, sans-serif;
  padding: 20px;
  color: white;
}

#language{
  max-width: 200px;
}

.grid-row {
  width: 100%; /* Make rows take full width of the container */
}

.grid-item {
  max-width: 300px;
  padding: 5px;
}

.info-content img {
  width: 10em;
  display: flex;
  justify-content: center;
}

.grid-item h2 {
  margin-top: 0;
}

.grid-item ul {
  display: flex;
  flex-wrap: wrap; /* Allow wrapping if there are many items */
  padding: 3px; /* Remove default padding */
  list-style: none; /* Remove default list style */
}

.grid-item li {
  margin-right: 3px; /* Adjust the space between items */
  display: flex;
  align-items: center;
}

.grid-item img {
  transform: translateY(5px);
}

.title {
  font-family: Questrial, sans-serif;
  font-size: 40px;
  color: white;
}

.titleBar {
  background-color: #141414;
  border-radius: 20px;
  text-align: center;
  padding-left: 12px;
}

.titleBarL {
  @extend .titleBar;
  text-align: left;
}

.text {
  font-family: Questrial, sans-serif;
  color: white;
  font-size: 24px;
  margin-top: 15px;
}

.textBar {
  text-align: center;
  margin: 10px;
}

.textBarL {
  text-align: left;
}

.listText {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
}

.listText ul {
  list-style-type: disc;
  padding-left: 20px;
}

@media (max-width: 600px) {
  .grid-item h2 {
    width: 80%;
  }
}