.grid-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: nowrap;
  justify-items: center;
  font-family: Questrial, sans-serif;
  padding: 20px;
  color: white;
}

.grid-row{
  margin: 10px;
}


.grid-item {
  padding: 5px;
  border-radius: 8px;
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
  text-align: left; /* Center text */
}
.grid-item h2 {
  margin-top: 0;
}

.grid-item ul {
  display: flex;
  flex-wrap: wrap; /* Allow wrapping if there are many items */
  padding: 0; /* Remove default padding */
  list-style: none; /* Remove default list style */
}

.secondary-row .grid-item ul {
  display: grid; /* Use CSS Grid for secondary skills */
  grid-template-columns: 2fr; /* Define columns */
  gap: 10px; /* Adjust the space between items */
}

.grid-item li {
  margin-right: 3px; /* Adjust the space between items */
  display: flex;
  align-items: center;
  
}

.grid-item img{
  transform: translateY(5px);
}

.grid-item iconify-icon {
  
}

.title{
  font-family: Questrial, sans-serif;
  font-size: 40px;
  color: white;
}

.titleBar {
  background-color: #141414;
  border-radius: 20px;
  text-align: center;
  padding-left: 12px;
}

.titleBarL {
  @extend .titleBar;
  text-align: left;
}

.text{
  font-family: Questrial, sans-serif;
  color: white;
  font-size: 24px;
  margin-top: 15px;
}

.textBar {
  text-align: center;
  margin:10px;
}

.textBarL {
  text-align: left;
}

.listText {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
}

.listText ul {
  list-style-type: disc;
  padding-left: 20px;
}
