.grid-container {
  display: grid;
  margin: 0 auto;
  justify-items: center;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  font-family: Questrial, sans-serif;
  gap: 10px;
  padding: 20px;
  color: white;
}
.grid-item {
  background-color: #141414;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
  text-align: left; /* Center text */
}
.grid-item h2 {
  margin-top: 0;
}

.title{
  font-family: Questrial, sans-serif;
  font-size: 40px;
  color: white;
}

.titleBar {
  background-color: #141414;
  border-radius: 20px;
  text-align: center;
  padding-left: 12px;
}

.titleBarL {
  @extend .titleBar;
  text-align: left;
}

.text{
  font-family: Questrial, sans-serif;
  color: white;
  font-size: 24px;
  margin-top: 15px;
}

.textBar {
  text-align: center;
  margin:10px;
}

.textBarL {
  text-align: left;
}

.listText {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
}

.listText ul {
  list-style-type: disc;
  padding-left: 20px;
}
