.titleBar {
  background-color: #141414;
  text-align: center;
}

.titleBarL {
  @extend .titleBar;
  background-color: #141414;
  text-align: left;
}

.title{
  font-size: 40px;
  color: white;
  margin-top: 5px;
}

.text{
  font-family: Questrial, sans-serif;
  color: white;
  font-size: 24px;
  margin-top: 20px;
}

.textBar {
  max-width: 600px;
  text-align: center;
}

.textBarL {
  @extend .textBar;
  text-align: left;
}

.listText {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
}

.listText ul {
  list-style-type: disc;
  padding-left: 20px;
}
